{{ ansible_managed | comment }}

[Unit]
Description=Browser Refresh On Timer
PartOf=graphical-session.target

[Timer]
AccuracySec=1
{% for ITEM in kiosk_browser_refresh_on_calendar %}
OnCalendar={{ ITEM }}
{% endfor %}

[Install]
WantedBy=user-graphical-login.target
