{{ ansible_managed | comment }}

[Unit]
Description=Display Off Timer
PartOf=graphical-session.target
ConditionArchitecture=arm

[Timer]
AccuracySec=1min
{% for ITEM in kiosk_display_off_calendar %}
OnCalendar={{ ITEM }}
{% endfor %}

[Install]
WantedBy=user-graphical-login.target
