{"chrome://browser/content/browser.xul":{"navigator-toolbox":{"iconsize":"small"},"main-window":{"width":"{{ kiosk_browser_width }}","height":"{{ kiosk_browser_height }}","screenX":"{{ kiosk_browser_screen_x }}","screenY":"{{ kiosk_browser_screen_y }}","sizemode":"{{ kiosk_browser_sizemode }}"}}}
